@using eComMaster.Data.Utility
@{
    ViewData["Title"] = "Add/Edit PC Series";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    dynamic? selectedSeries = TempData["selectedSeries"];
    dynamic? categoryList = TempData["categoryList"];
}
<body>
    @if (selectedSeries == null)
    {
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Add PC Series</h1>
            @Html.ValidationSummary()
        </div>

        <!-- Form Card -->
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Series Details</h6>
                </div>
                <div class="card-body">
                    <form action="@Url.Action("AddPcSeries", "ManagePcSeries")" method="post" class="form-group">
                        <div class="mb-3">
                            <label class="form-label">PC Category</label>
                            <select name="category" id="category" class="custom-select">
                                @foreach (var category in categoryList)
                                {
                                    <option value="@category.PC_CATEGORY_ID">@category.PC_CATEGORY_NAME</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">PC Series Name</label>
                            <input type="text" name="seriesName" id="seriesName" placeholder="Name..." class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">PC Series Description (Optional)</label>
                            <input type="text" name="seriesDesc" id="seriesDesc" placeholder="Description..." class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Edit PC Series</h1>
            @Html.ValidationSummary()
        </div>

        <!-- Navigation Card -->
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Series Details</h6>
                </div>
                <div class="card-body">
                    <form action="@Url.Action("EditPcSeries", "ManagePcSeries")" method="post" class="form-group">
                        <div class="mb-3">
                            <label class="form-label">PC Category</label>
                            <select name="category" id="category" class="custom-select">
                                @foreach (var category in categoryList)
                                {
                                    if (category == selectedSeries.PC_CATEGORY_ID)
                                    {
                                        <option value="@category.PC_CATEGORY_ID" selected="selected">@category.PC_CATEGORY_NAME</option>
                                    }
                                    else
                                    {
                                        <option value="@category.PC_CATEGORY_ID">@category.PC_CATEGORY_NAME</option>
                                    }
                                }
                            </select>
                        </div>
                        <div>
                            <input type="hidden" name="pcSeriesId" id="pcSeriesId" value="@selectedSeries.PC_SERIES_ID" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">PC Series Name</label>
                            <input type="text" name="seriesName" id="seriesName" placeholder="Name..." value="@selectedSeries.PC_SERIES_NAME" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">PC Series Description (Optional)</label>
                            <input type="text" name="seriesDesc" id="seriesDesc" placeholder="Description..." value="@selectedSeries.PC_SERIES_DESCRIPTION" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Status</label>
                            <select name="status" id="status" class="custom-select">
                                @foreach (var status in Enum.GetValues(typeof(AppConstants.MainStatuses)))
                                {
                                    if (status.ToString() == selectedSeries.PC_SERIES_STATUS)
                                    {
                                        <option value="@status" selected="selected">@status</option>
                                    }
                                    else
                                    {
                                        <option value="@status">@status</option>
                                    }
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    }
</body>
