@{
    ViewData["Title"] = "Delete PC Processor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    dynamic? selectedProcessor = TempData["selectedProcessor"];
}
<body>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Are you sure you want to delete this processor?</h1><br>
    </div>

    <!-- Details Card -->
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Processor Details</h6>
            </div>
            <div class="card-body">
                <div class="mb-3"><label class="form-label">PC Processor ID: @selectedProcessor.CONFIG_PROCESSOR_ID</label></div>
                <div class="mb-3"><label class="form-label">PC Processor Name: @selectedProcessor.PROCESSOR_NAME</label></div>
                <div class="mb-3"><label class="form-label">PC Processor Description: @selectedProcessor.PROCESSOR_DESCRIPTION</label></div>
                <div class="mb-3"><label class="form-label">Base Price: @selectedProcessor.BASE_PRICE</label></div>
                <div class="mb-3"><label class="form-label">PC Processor Status: @selectedProcessor.PROCESSOR_STATUS</label></div>
                <div class="mb-3">
                    <a class="btn btn-danger btn-icon-split" asp-action="DeleteConfigProcessor" asp-route-pcProcessorId=@selectedProcessor.CONFIG_PROCESSOR_ID asp-controller="AdminManageConfigProcessor">
                        <span class="text">Yes</span>
                    </a>
                    <a class="btn btn-info btn-icon-split" asp-action="Index" asp-controller="AdminManageConfigProcessor">
                        <span class="text">No</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
