@model IEnumerable<eComMaster.Models.MasterData.ConfigItems.ConfigPower>
@{
    ViewData["Title"] = "View PC Power";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int configPowerId = 0;
}
<body>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Manage PC Power</h1>
        <a class="btn btn-success btn-icon-split" asp-action="ShowAddEditConfigPower" asp-route-powerId=-1 asp-controller="AdminManageConfigPower">
            <span class="text">Create Power</span>
        </a>
    </div>

    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Power</h6>
            </div>
            <div class="card-body">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Base Price</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var power in Model)
                        {
                            configPowerId = power.CONFIG_POWER_ID;
                            <tr>
                                <td>@power.CONFIG_POWER_ID</td>
                                <td>@power.POWER_NAME</td>
                                <td>@power.POWER_DESCRIPTION</td>
                                <td>@power.BASE_PRICE.ToString("0.##")</td>
                                <td>@power.POWER_STATUS</td>
                                <td>
                                    <center>
                                        <a class="btn btn-info btn-icon-split" asp-action="ShowAddEditConfigPower" asp-route-powerId=@configPowerId asp-controller="AdminManageConfigPower">
                                            <span class="text">Edit</span>
                                        </a>
                                    </center>
                                </td>
                                <td>
                                    <center>
                                        <a class="btn btn-danger btn-icon-split" asp-action="ShowDeleteConfigPower" asp-route-powerId=@configPowerId asp-controller="AdminManageConfigPower">
                                            <span class="text">Delete</span>
                                        </a>
                                    </center>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
