@{
    ViewData["Title"] = "Delete PC Storage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    dynamic? selectedStorage = TempData["selectedStorage"];
}
<body>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Are you sure you want to delete this storage?</h1><br>
    </div>

    <!-- Details Card -->
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Storage Details</h6>
            </div>
            <div class="card-body">
                <div class="mb-3"><label class="form-label">PC Storage ID: @selectedStorage.CONFIG_STORAGE_ID</label></div>
                <div class="mb-3"><label class="form-label">PC Storage Name: @selectedStorage.STORAGE_NAME</label></div>
                <div class="mb-3"><label class="form-label">PC Storage Description: @selectedStorage.STORAGE_DESCRIPTION</label></div>
                <div class="mb-3"><label class="form-label">Base Price: @selectedStorage.BASE_PRICE</label></div>
                <div class="mb-3"><label class="form-label">PC Storage Status: @selectedStorage.STORAGE_STATUS</label></div>
                <div class="mb-3">
                    <a class="btn btn-danger btn-icon-split" asp-action="DeleteConfigStorage" asp-route-pcStorageId=@selectedStorage.CONFIG_STORAGE_ID asp-controller="AdminManageConfigStorage">
                        <span class="text">Yes</span>
                    </a>
                    <a class="btn btn-info btn-icon-split" asp-action="Index" asp-controller="AdminManageConfigStorage">
                        <span class="text">No</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
