@using eComMaster.Data.Utility
@{
    ViewData["Title"] = "Add/Edit PC Misc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    dynamic? selectedMisc = TempData["selectedMisc"];
}
<body>
    @if (selectedMisc == null)
    {
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Add PC Misc</h1>
            @Html.ValidationSummary()
        </div>

        <!-- Form Card -->
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Misc Details</h6>
                </div>
                <div class="card-body">
                    <form action="@Url.Action("AddConfigMisc", "AdminManageConfigMisc")" method="post" class="form-group">
                        <div class="mb-3">
                            <label class="form-label">PC Misc Name</label>
                            <input type="text" name="miscName" id="miscName" placeholder="Name..." class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">PC Misc Description (Optional)</label>
                            <input type="text" name="miscDesc" id="miscDesc" placeholder="Description..." class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Base Price</label>
                            <input type="number" name="price" id="price" min="0" max="99999999" step="0.01" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Edit PC Misc</h1>
            @Html.ValidationSummary()
        </div>

        <!-- Navigation Card -->
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Misc Details</h6>
                </div>
                <div class="card-body">
                    <form action="@Url.Action("EditConfigMisc", "AdminManageConfigMisc")" method="post" class="form-group">
                        <div>
                            <input type="hidden" name="pcMiscId" id="pcMiscId" value="@selectedMisc.CONFIG_MISC_ID" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">PC Misc Name</label>
                            <input type="text" name="miscName" id="miscName" placeholder="Name..." value="@selectedMisc.MISC_NAME" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">PC Misc Description (Optional)</label>
                            <input type="text" name="miscDesc" id="miscDesc" placeholder="Description..." value="@selectedMisc.MISC_DESCRIPTION" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Base Price</label>
                            <input type="number" name="price" id="price" min="0" max="99999999" step="0.01" value="@selectedMisc.BASE_PRICE.ToString("0.##")" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Status</label>
                            <select name="status" id="status" class="custom-select">
                                @foreach (var status in Enum.GetValues(typeof(AppConstants.MainStatuses)))
                                {
                                    if (status.ToString() == selectedMisc.MISC_STATUS)
                                    {
                                        <option value="@status" selected="selected">@status</option>
                                    }
                                    else
                                    {
                                        <option value="@status">@status</option>
                                    }
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    }
</body>
