@model IEnumerable<eComMaster.Models.MasterData.ConfigItems.ConfigMisc>
@{
    ViewData["Title"] = "View PC Misc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int configMiscId = 0;
}
<body>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Manage PC Misc</h1>
        <a class="btn btn-success btn-icon-split" asp-action="ShowAddEditConfigMisc" asp-route-miscId=-1 asp-controller="AdminManageConfigMisc">
            <span class="text">Create Misc</span>
        </a>
    </div>

    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Misc</h6>
            </div>
            <div class="card-body">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Base Price</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var misc in Model)
                        {
                            configMiscId = misc.CONFIG_MISC_ID;
                            <tr>
                                <td>@misc.CONFIG_MISC_ID</td>
                                <td>@misc.MISC_NAME</td>
                                <td>@misc.MISC_DESCRIPTION</td>
                                <td>@misc.BASE_PRICE.ToString("0.##")</td>
                                <td>@misc.MISC_STATUS</td>
                                <td>
                                    <center>
                                        <a class="btn btn-info btn-icon-split" asp-action="ShowAddEditConfigMisc" asp-route-miscId=@configMiscId asp-controller="AdminManageConfigMisc">
                                            <span class="text">Edit</span>
                                        </a>
                                    </center>
                                </td>
                                <td>
                                    <center>
                                        <a class="btn btn-danger btn-icon-split" asp-action="ShowDeleteConfigMisc" asp-route-miscId=@configMiscId asp-controller="AdminManageConfigMisc">
                                            <span class="text">Delete</span>
                                        </a>
                                    </center>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
