@using eComMaster.Data.Utility
@{
    ViewData["Title"] = "Add/Edit PC Display";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    dynamic? selectedDisplay = TempData["selectedDisplay"];
}
<body>
    @if (selectedDisplay == null)
    {
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Add PC Display</h1>
            @Html.ValidationSummary()
        </div>

        <!-- Form Card -->
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Display Details</h6>
                </div>
                <div class="card-body">
                    <form action="@Url.Action("AddConfigDisplay", "AdminManageConfigDisplay")" method="post" class="form-group">
                        <div class="mb-3">
                            <label class="form-label">PC Display Name</label>
                            <input type="text" name="displayName" id="displayName" placeholder="Name..." class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">PC Display Description (Optional)</label>
                            <input type="text" name="displayDesc" id="displayDesc" placeholder="Description..." class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Base Price</label>
                            <input type="number" name="price" id="price" min="0" max="99999999" step="0.01" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Edit PC Display</h1>
            @Html.ValidationSummary()
        </div>

        <!-- Navigation Card -->
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Display Details</h6>
                </div>
                <div class="card-body">
                    <form action="@Url.Action("EditConfigDisplay", "AdminManageConfigDisplay")" method="post" class="form-group">
                        <div>
                            <input type="hidden" name="pcDisplayId" id="pcDisplayId" value="@selectedDisplay.CONFIG_DISPLAY_ID" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">PC Display Name</label>
                            <input type="text" name="displayName" id="displayName" placeholder="Name..." value="@selectedDisplay.DISPLAY_NAME" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">PC Display Description (Optional)</label>
                            <input type="text" name="displayDesc" id="displayDesc" placeholder="Description..." value="@selectedDisplay.DISPLAY_DESCRIPTION" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Base Price</label>
                            <input type="number" name="price" id="price" min="0" max="99999999" step="0.01" value="@selectedDisplay.BASE_PRICE" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Status</label>
                            <select name="status" id="status" class="custom-select">
                                @foreach (var status in Enum.GetValues(typeof(AppConstants.MainStatuses)))
                                {
                                    if (status.ToString() == selectedDisplay.DISPLAY_STATUS)
                                    {
                                        <option value="@status" selected="selected">@status</option>
                                    }
                                    else
                                    {
                                        <option value="@status">@status</option>
                                    }
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    }
</body>
