@model List<eComMaster.Models.MasterData.PcModel>

<h1>Available Models</h1>
<p>Models available for series: @Model.FirstOrDefault()?.PC_SERIES_ID.PC_SERIES_NAME</p>
<div style="overflow-x: scroll; white-space: nowrap;">
    @foreach (var pcModel in Model)
    {
        <div class="card" style="display: inline-block; margin-right: 10px;">
            <div class="card-header">
                <h5 class="card-title">PC_MODEL_ID: @pcModel.PC_MODEL_ID</h5>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">PC_MODEL_NAME: @pcModel.PC_MODEL_NAME</h6>
                <p class="card-text">PC_MODEL_DESCRIPTION: @pcModel.PC_MODEL_DESCRIPTION</p>
                <p class="card-text">MODEL_PRICE: @pcModel.MODEL_PRICE</p>
                <p class="card-text">QUANTITY: @pcModel.QUANTITY</p>
            </div>
        </div>
    }
</div>
<br />
<a class="btn btn-secondary" href="@Url.Action("Index", "Home")">Back to series list</a>
